@import url("https://fonts.googleapis.com/css?family=Raleway|Russo+One&display=swap");
* {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

/* Center body info */
.centerdiv {
  width: 60%;
  margin: auto;
}
 /* Edit the Photo Properties */
#imgEdit img {
  height: 30%;
  width: 40%;
}

                                                  /* Navigation Bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
}

.logo h2 {
  padding-left: 5px;
  letter-spacing: 7px;
  border: 2px solid white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 900;
  display: block;
  padding: 0px 25px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #fdd132;
}

                                                  /* Section Formatting */

/* Heading */
.s1 {
  height: 100vh;
  color: white;
  background-color: #78b3e0;
}

.s1 h1 {
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

                                                  /* About Me */
.s2 {
  width: 100%;
  margin: auto;
  height: 100vh;
  background-color: white;
  color: #78b3e0;
}

.s2 h1 {
  font-size: 90px;
  letter-spacing: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s2 p {
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
}

                                                  /* Experience */
.s3 {
  width: 100%;
  margin: auto;
  height: 100vh;
  background-color: white;
  color: #78b3e0;
}

.s3 h1 {
  font-size: 90px;
  letter-spacing: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 5 different elements effecting the work entries*/
#listy ol li{
  font-size: 22px; 
  padding: 4.5px 0px; /* 1) LINE SPACING*/
}
#listy ol ul li {
  font-size: 87.5%; /* 2) DIFFERENT SIZE PER TEIR OF LIST*/
}
#listy ol ul ul li {
  font-size: 75%; /*DIFFERENT SIZE PER TEIR OF LIST*/
  text-decoration: none;
  font-style: italic; /* 3) ITALICIZE*/
}
.divBorder {
  border: #78b3e0 solid 2px; /* 4) SET UP A BORDER*/
}

.s3 p {
  font-size: 26px;
  text-decoration: underline; /* 5) UNDERLINE THE YEARS*/
}

                                                  /* Contact Me */
.s4 {
  width: 100%;
  margin: auto;
  height: 100vh;
  background-color: white;
  color: #78b3e0;
}

.s4 h1 {
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
                                                  /* Icons */
.centerIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 30%;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

i {
  font-size: 65px;
  position: absolute;
  color: #78b3e0
}

.button i:hover {
  color: #fdd132;
  transition: 0.3s;
}